:root {
    --preto: #070707;
    --bg-color: #f7f7ff;
    --branco: #fff;
    --vermelho: #bb342f;
    --cinza-escuro: #dedede;
    --cinza-claro: #dedede83;
    --laranja: #ffba08;
    --preto-logo: #1A1C2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

/* Nav */
nav {
    width: 100%;
    height: 80px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid var(--vermelho);
}

#logoNauffal {
    width: 68px;
    height: 50px;
}

#navegacaoLista {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.linksNavegacao {
    text-decoration: none;
    color: var(--preto);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    transition: .5s;
}

.linksNavegacao:hover {
    color: var(--vermelho);
}

/* Header */
header {
    width: 100%;
    height: 300px;
    background-image: url('/assets/image/bg-cars2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 45px;
}

/* Main  */

main {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 10fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 50px;
    margin: 0 auto 50px auto;
    width: 95%;
}

aside {
    grid-area: 1 / 1 / 3 / 2;
    height: 500px;
    background-color: var(--cinza-escuro);
}

section {
    grid-area: 1 / 2 / 4 / 5;
    height: 1470px;
}

#cabecalhoSection {
    height: 65px;
    margin: 0 40px 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#itensLeft {
    display: flex;
    flex-direction: column;
}

#itensLeft h3, #itensLeft p{
    font-family: Montserrat;
}

#itensLeft h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

#itensLeft p {
    font-weight: 300;
    font-size: 14px;
}

#selector {
    width: 175px;
    height: 47px;
    border: 1px solid #7c7c7c18;
    
}

.linhaSeparacao {
    border: 1px solid #7c7c7c18;
    width: 100%;
    margin: 10px 0;
}

.topLinha {
    width: 95%;
    margin: 20px auto;
}

#listaCarros {
    width: 100%;
    margin: 0px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.cardCarro {
    width: 324px;
    height: 427px;
    background: var(--bg-color);
    border-radius: 25px;
}

.imageCarro img {
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0 0;
    border-bottom: 3px solid var(--preto);
}

.cardInformacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.descricaoCurtaCarro, .valorCarro {
    font-family: Montserrat;
}

.descricaoCurtaCarro {
    width: 95%;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--preto-logo);
}

.valorCarro {
    font-weight: 700;
    font-size: 28px;
    color: var(--vermelho);
    margin-bottom: 20px;
}


.botoesContatos {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnComprar, .btnWpp {
    height: 50px;
    cursor: pointer;
}

.btnComprar {
    width: 163px;
    border-radius: 10px;
    font-family: Montserrat;
    color: var(--branco);
    background-color: var(--preto-logo);
    border: 2px solid var(--cinza-claro);
}

.btnWpp {
    width: 50px;
    border-radius: 50%;
    border: none;
    background-image: url('../image/icons/whatsapp-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
